VITE_DELEGATE_CONTRACT_ADDRESS=0x8DecdC8ca14895128E752680FA733595F1b461e7
VITE_DAVOS_API_ENDPOINT=http://127.0.0.1:3000
VITE_DAVOS_API_PROPOSAL_ENDPOINT=http://127.0.0.1:6000
VITE_SNAPSHOT_HUB_URL=https://hub.snapshot.org
VITE_TEST_ENV=false